* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    height: 100vh;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header-container,
header,
footer {
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: flex;
    flex-direction: column;
}

/*-------------------------header-top-------------------------------*/

.header-top {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0px 150px 80px 150px;

}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/*-------------------------End of header-top------------------------*/

/*-------------------------header-main------------------------------*/
.header-main {
    display: flex;
    justify-content: space-between;
   margin: 0px 150px 80px 150px;
}

/*-------------------------header-left and header-right containers--*/
.header-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/*-----------------End of: header-left and header-right containers--*/

.header-title {
    font-size: 48px;
    font-weight: 800;
    /*extra-bold*/
    color: #F9FAF8
}

.secondary-text {
    /*For: Header paragraph,links and placeholder text*/
    font-size: 18px;
    color: #E5E7EB;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    background: #3882F6;
    color: white;
    padding: 8px 8px;
    display: block;
    width: 100px;
    /*---tbd---*/
}

#saxophone{
    height: 215px;
    width: 480px;
}

/*-------------------------End of header-main-----------------------*/




/*###############################################################################*/
/*---------------------------------------------------------------------------------

.main-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

article {
    font-size: 30px;
    color: black;
}
.article-one-container{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    flex: 1 1 5rem;
    justify-content: center;
    background-color: white;
    margin-left: 10em;
    margin-right: 10em;
}
.article-one {
    background-color: white;
    
}
.article-title{
    background-color: yellow;
}

.article-two {
    background-color: red;
    padding-top: 2rem;
    flex: 1 1 5rem;
}

.article-three {
    background-color: green;
    padding-top: 2rem;
    flex: 1 1 2rem;
}

.footer-content {
    padding: 0rem;
}
*/