body {
    height: 100vh;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header,
footer {
    background-color: #1F2937;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content-left {
    margin: 2rem 4rem 4rem 7rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
}
.header-logo{
   margin-top: 0rem;
   margin-bottom: 4rem;
   font-size: 24px;
   color: #F9FAF8
}
.header-title{
    font-size: 48px;
    font-weight: 800; /*extra-bold*/
    color: #F9FAF8
}
.secondary-text{    /*For: Header paragraph,links and placeholder text*/
    font-size: 18px;
    color: #E5E7EB;
}
.header-title,p,button{
    margin: 0px;
}
.header-content-right {   /*-----RIGHT-CONTAINER-----*/
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 2rem 4rem 4rem 7rem;
    padding: 0em;
}
.header-links{

    display: flex;
    flex: 1;
    justify-content: space-evenly;
    width: 28rem;
    margin-left: 1em;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
.header-image-container{    /*-----RIGHT-placeholder CONTAINER-----*/
    display: flex;
    width: 27rem;
    height: 12rem;
    background-color: gray;
    margin-top: 5em;
    margin-right: 7em;
    justify-content: center;
    align-items: center;
}
/*###############################################################################*/
/*------------------------------------------------------------------------------*/
button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    background: #3882F6; 
    color: white;
    padding: 8px 8px;
    display: block;
    width: 6rem;
    height: auto;
}

.main-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

article {
    font-size: 30px;
    color: black;
}

.article-random {
    background-color: blue;
    padding-top: 2rem;
    flex: 1 1 5rem;
}

.article-quote {
    background-color: red;
    padding-top: 2rem;
    flex: 1 1 5rem;
}

.article-sign-up {
    background-color: green;
    padding-top: 2rem;
    flex: 1 1 2rem;
}

.footer-content {
    padding: 0rem;
}